# Ignore virtual environment
venv/

# Ignore data folder and all contents
Data/

# Ignore Python bytecode files
__pycache__/
*.py[cod]

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore VS Code settings (optional)
.vscode/
